.glass {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 4px 30px #4747470b;
  border: 1px solid rgba(0, 0, 0, 1);
  @apply h-4/5 w-[70%] py-20 px-20 min-w-max;
}
.textbox {
  @apply border rounded-md px-1 py-1;
  @apply focus:outline-none;
}
.cBtn {
  @apply border border-black py-1 w-20 rounded-full text-black text-sm shadow-sm text-center mr-3;
}
.sBtn {
  @apply border border-black py-1 bg-blue-500 w-20 rounded-full text-sm shadow-sm text-center text-white;
}
